
@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-black-webfont.eot');
    src: url('../fonts/raleway-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-black-webfont.woff2') format('woff2'),
         url('../fonts/raleway-black-webfont.woff') format('woff'),
         url('../fonts/raleway-black-webfont.ttf') format('truetype'),
         url('../fonts/raleway-black-webfont.svg#ralewayblack') format('svg');
    font-weight: normal;
    font-style: normal;

}



* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'raleway', verdana, sans-serif;
}
html, body {
	width: 100%;
}	
.container {
	width: 1000px;
	margin: 0px auto;
}
.row {
	width: 100%;
	height: inherit;
	display: inline-block;
}
.green {
	color: #26c7a9;
}
header {
	width: 100%;
	height: 30px;
	background-color: black;
	color: white;
	font-size: 1em;
	font-weight: 100;
}
h5 {
	margin: 5px 20px 5px 20px;
	display: inline-block;
	float: left;
}
ul {
	float: right;
}
li {
	list-style-type: none;
	display: inline-block;
	margin: 5px 20px 5px 20px;
}
section {
	width: 100%;
}
#sec1 {
	background:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40,b3bead+100;Wax+3D+%233 */
background: #fcfff4; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
	margin: 5px;
	display: inline-block;
	height: 400px;
}
#arrowL {
	width: 5%;
	display: inline-block;
	float: left;
	font-size: 50px;
	margin-top: 125px;
	color: #26c7a9;
}
#blackchair {
	width: 48%;
	height: 400px;
	display: inline-block;
	float: left;
	margin: auto;
	margin-top: 60px;
}
.blackchair {
	width: 100%;
}
h2 {
	margin: 20px;
}
#sooc {
	width: 39.9%;
	display: inline-block;
	text-align: center;
	margin: auto;
	margin-top: 100px;
	float: left;
}
button {
	width: 170px;
	height: 40px;
	margin-top: 20px;
	background-color: #26c7a9;
	border: 3px solid #26c7a9;
	border-radius: 10px;
	color: white;
	font-weight: 100;
}
#arrowR {
	width: 5%;
	display: inline-block;
	text-align: right;
	float: left;
	font-size: 50px;
	margin-top: 125px;
	color: #26c7a9;
}
.content {
	width: 300px;
	height: 200px;
	display: inline-block;
	border: 1px solid #888;
	float: left;
	margin: 8px;
}

.content p {
	font-weight: 100;
	margin: 10px;
}
.pictitle {
	width: 300px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.3)
	
}
.h4 {
	width: 150px;
	border-bottom: 8px solid #26c7a9;
	margin-left: 10px;
	margin-top: 5px;
	border-radius: 2px;
}
#clair {
	background-image: url('../images/box1_img.jpg');
	background-size: cover; 
}
#margarita {
	background-image: url('../images/box2_img.jpg')
}
.pictitle .h4 {

	margin-top: 130px;
}
#plan {
	background-color: #f0f0f0;
	height: 700px;
}
.h3h {
	width: 1000px;
	height: 100px;
}
.h3 {
	width: 300px;
	border-bottom: 8px solid #26c7a9;
	margin-left: 10px;
	margin-top: 10px;
	padding-top: 20px;
	border-radius: 2px;
}
.plan {
	width: 300px;
	height: 500px;
	font-weight: 100;
	background-color: #f7f7f7;
	display: inline-block;
	position: relative;
	border: 2px solid #c2c2c2;
	vertical-align: middle;
	text-align: center;

}
.light {
	width: 60px;
	height: 60px;
	border: 2px solid #c2c2c2;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: -40px;
	left: 119px;
}
.dark {
	width: 30px;
	height: 30px;
	background-color: #c2c2c2;
	border: 2px solid #c2c2c2;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.whatplan {
	text-align: center;
	margin-top: 30px;
	color: #26c7a9;
}
.circle {
	width: 130px;
	height: 130px;
	color: #c2c2c2;
	background-color: white;
	border: 2px solid #c2c2c2;
	border-radius: 50%;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin: 20px auto;
	padding-top: 20px;
}
.pln {
	font-size: 18px;
}
sup {
	font-size: 12px;
}
.oferta ul {
	float: none;
}
.oferta li {
	clear: both;
	width: 100%;
	height: 40px;
	color: #c2c2c2;
	margin: 0;
	border-right: #c2c2c2;
	border-left: #c2c2c2;
}
.oferta li:nth-of-type(even) {
	background-color: #f0f0f0;
}
.oferta li:nth-of-type(odd) {
	background-color: #e3e3e3;
}
#basic {
	margin-top: 100px;
}
#standard {
	margin-top: 60px;
}
.plan:hover {
	background-color: #26c7a9;
	border: 2px solid #26c7a9;
}
.plan:hover .light {
	border: 2px solid #26c7a9;
	background-color: #26c7a9;
}
.plan:hover .dark {
	background-color: white;
	border: 2px solid white;
}
.plan:hover .whatplan {
	text-align: center;
	margin-top: 30px;
	color: white;
}
.plan:hover .circle {
	color: #26c7a9;
	background-color: white;
	border: 2px solid #26c7a9;
}
.plan:hover .oferta li:nth-of-type(odd) {
	background-color: white;
}
.plan:hover .dolacz {
	background-color: white;
	color: #26c7a9;
}

#contact {
	background-color: white;
}

.contact {

}
#form {
	width: 500px;
	height: 500px;
	float: left;
	display: inline-block;
}
#red {
	width: 500px;
	height: 500px;
	float: right;
	display: inline-block;
}